@model List<CadernoDigital.Models.ViewModels.PublicacaoViewModel>

@{
    ViewData["Title"] = "Publicações";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
<br />

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Criar" role="button">Adicionar nova publicação</a>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" asp-controller="Usuario" asp-action="Index" role="button">Meu Perfil</a>
    </div>

    <br />


    <h1 class="display-4">Publicações</h1>

    <div style="width=50%;">
        @if (Model != null && Model.Any())
        {
            foreach (var publucacao in Model)
            {
                <div class="card">
                    <label>Disciplina</label>
                    <h5 class="card-title">@publucacao.Disciplina.Nome</h5>
                    <label>Professor</label>
                    <h5 class="card-title">@publucacao.Professor.Nome</h5>
                    <img src="~/assets/imagem/@publucacao.Publicacao.Imagem" class="card-img-top" alt="publicação"
                         style="width:50%;height:50%; align-self:center;">
                    <div class="card-body">
                        <h5 class="card-title">@publucacao.Publicacao.Titulo</h5>
                        <p class="card-text">@publucacao.Publicacao.Conteudo</p>
                    </div>
                    <p class="card-text"><h6>Data publicação:</h6>@publucacao.Publicacao.DataCadastro</p>
                    <p class="card-text"><h6>Data ultima edição:</h6>@publucacao.Publicacao.DataAtualizacao</p>

                    @*Comentario*@
                    <button type="button" class="btn btn-primary justify-content-md-center" data-bs-toggle="modal" data-bs-target="#@publucacao.Publicacao.Id.ToString()">
                        Comentários
                    </button>

                    <div class="modal fade" id="@publucacao.Publicacao.Id.ToString()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Comentários</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <img src="~/assets/imagem/@publucacao.Publicacao.Imagem" class="card-img-top" alt="publicação"
                                                 style="width:100%;height:100%; align-self:center;">
                                        </div>
                                        <div class="col-6">
                                            <h5 class="card-title">@publucacao.Disciplina.Nome</h5>
                                            <h5 class="card-title">@publucacao.Professor.Nome</h5>
                                            <br />
                                            <h5 class="card-title">@publucacao.Publicacao.Titulo</h5>
                                            <p class="card-text">@publucacao.Publicacao.Conteudo</p>
                                            <hr />
                                            <div class="overflow-scroll-">
                                                @if (publucacao.Comentarios != null && publucacao.Comentarios.Any())
                                                {
                                                    @foreach (var comentario in publucacao.Comentarios)
                                                    {
                                                        if (comentario.Id_Publicacao == publucacao.Publicacao.Id)
                                                        {
                                                            <div class="card">
                                                                <h5 class="card-title">@comentario.Usuario</h5>
                                                                <p class="card-text">@comentario.Conteudo</p>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <a type="button" asp-action="Comentar" asp-route-id="@publucacao.Publicacao.Id" role="button" class="btn btn-primary">Comentar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <br />
            }
        }
        else
        {
            <tr class="odd"><td valign="top" colspan="5">Nenhuma publicação encontrada</td></tr>
        }
    </div>

</div>