@model List<CadernoDigital.Models.ViewModels.PublicacaoViewModel>
<link rel="stylesheet" href="~/css/index.css" />

@{
    ViewData["Title"] = "Publicações";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}
<br />


<style>
    .hidden {
        display: none;
    }

    .w3-theme-d2 {
        color: #fff !important;
        background-color: #6c63ff !important;
    }

    .w3-padding-large {
        padding: 6px 24px !important;
    }
</style>
<div class="text-center">
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                @foreach (var item in Model)
                {
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container">
                            <h4 class="w3-center">My Profile</h4>

                            <p class="w3-center"><img src="~/assets/usuario/@item.Usuario.Foto" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                            <a asp-controller="Usuario" asp-action="Index"><button style="border-radius: 5px" type="button" class="w3-button w3-theme-d2"><i class="fa fa-pencil"></i> Meu Perfil</button></a>
                            <hr>
                            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Developer, TI</p>
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Guarulhos, SP</p>
                            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> 1, Abril 1988</p>
                        </div>
                    </div>
                    break;
                }
                <br>
                <!-- Interests -->
                <div class="w3-card w3-round w3-white w3-hide-small">
                    <div class="w3-container">
                        <p>Preferências</p>
                        <a asp-controller="Preferencia" asp-action="Index" style="border-radius: 100%;" class="w3-button w3-theme-d2 mb-3"><i class="fa fa-pencil"></i></a>
                        <p>
                            @foreach (var item in Model)
                            {
                                if (item.Tags == null){ break; }
                                <span class="w3-tag w3-small w3-theme-d2">@item.Tags.Nome</span>
                            }
                        </p>
                    </div>
                </div>
                <br>

                <!-- Alert Box -->
                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <h6 class="w3-opacity">Escreva o que está pensando...</h6>
                                <a asp-controller="Home" asp-action="Criar"><button style="border-radius: 5px" type="button" class="w3-button w3-theme-d2"><i class="fa fa-pencil"></i> Nova Publicação</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Esse cara que vai repetir-->
                @if (Model != null && Model.Any())
                {
                    foreach (var publicacao in Model)
                    {
                        @if (publicacao.Publicacao == null)
                        {
                            break;
                        }
                        <div class="w3-container w3-card w3-white w3-round w3-margin">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h4 style="position: relative; top: 11px;">
                                        @publicacao.Publicacao.Titulo
                                    </h4>
                                    <span style="margin-top: 20px" class="w3-right w3-opacity">@publicacao.Publicacao.DataCadastro</span>
                                </div>

                                @if (@publicacao.Publicacao.Conteudo != null)
                                {
                                    <span class="showMore" style="color:gray; font-size:10px; cursor: pointer">Show More</span>
                                    <p class="pHidden hidden">@publicacao.Publicacao.Conteudo</p>
                                }
                            </div>
                            <br>
                            <div class="w3-row-padding" style="margin:0 -16px">
                                <div class="w3-center">
                                    <img src="~/assets/imagem/@publicacao.Publicacao.Imagem" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
                                </div>
                            </div>

                            <hr class="w3-clear">
                            <h4>
                                <span style="margin-left:10px;" class="w3-tag w3-middle w3-theme-d5">Disciplina:</span> <span>@publicacao.Disciplina.Nome</span>
                            </h4>
                            <h4>
                                <span style="margin-left:10px;" class="w3-tag w3-middle w3-theme-d5">Professor:</span> <span>@publicacao.Professor.Nome</span>
                            </h4>

                            <div class="w3-row-padding w3-center" style="margin:0; padding-bottom: 5px;">
                                <div style="margin-bottom: 15px">
                                    <span style="margin-right: 42px"><i class="fa fa-comment"></i> @publicacao.Contador.ComentarioQtd</span>
                                    <span><i class="fa fa-thumbs-up"></i> @publicacao.Contador.CurtidaQtd</span>
                                </div>
                                <a style="margin-top:10px" asp-action="Comentar" asp-route-id="@publicacao.Publicacao.Id">
                                    <button style="border-radius: 5px;" type="button" class="w3-button w3-theme-d2 w3-margin-bottom">Interagir!</button>
                                </a>
                            </div>

                            @if (publicacao.Publicacao.Video != null)
                            {
                                <div class="w3-row-padding" style="margin:0 -16px">
                                    <div class="w3-center">
                                        <iframe width="420" height="345" src="@publicacao.Publicacao.Video">
                                        </iframe>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                }
                <!--Até aqui-->
            </div>
            <!-- End Middle Column -->
            <!-- Right Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <span class="heading">Ranking</span>
                        <br />
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nome</th>
                                    <th>Pontuação</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    if (item.Ranking != null)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Ranking.Nome</td>
                                            <td>@item.Ranking.Pontuacao</td>
                                        </tr>
                                    }
                                    
                                    if (true) { i++; }
                                }
                            </tbody>
                        </table>
                        @*<span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <p>4.1 average based on 254 reviews.</p>*@
                        <hr style="border:3px solid #f1f1f1">
                    </div>
                </div>
                <br>

                <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
                        <i class="fa fa-remove"></i>
                    </span>
                    <p><strong>Oie!</strong></p>
                    <p>Continue postando novidades!.</p>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br>

    <div style="width=50%;">
        @if (Model != null && Model.Any())
        {
            foreach (var publucacao in Model)
            {
                @if (publucacao.Publicacao == null)
                {
                    break;
                }
                <div class="card">

                    @*Comentario*@

                    <div class="modal fade" id="@publucacao.Publicacao.Id.ToString()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Comentários</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <img src="~/assets/imagem/@publucacao.Publicacao.Imagem" class="card-img-top" alt="publicação"
                                                 style="width:100%;height:100%; align-self:center;">
                                        </div>
                                        <div class="col-6">
                                            <h5 class="card-title">@publucacao.Disciplina.Nome</h5>
                                            <h5 class="card-title">@publucacao.Professor.Nome</h5>
                                            <br />
                                            <h5 class="card-title">@publucacao.Publicacao.Titulo</h5>
                                            <p class="card-text">@publucacao.Publicacao.Conteudo</p>
                                            <hr />
                                            <div class="overflow-scroll-">
                                                @if (publucacao.Comentarios != null && publucacao.Comentarios.Any())
                                                {
                                                    @foreach (var comentario in publucacao.Comentarios)
                                                    {
                                                        if (comentario.Id_Publicacao == publucacao.Publicacao.Id)
                                                        {
                                                            <div class="card">
                                                                <h5 class="card-title">@comentario.Usuario</h5>
                                                                <p class="card-text">@comentario.Conteudo</p>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <a type="button" asp-action="Comentar" asp-route-id="@publucacao.Publicacao.Id" role="button" class="btn btn-primary">Comentar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <br />
            }
        }
        else
        {
            <tr class="odd"><td valign="top" colspan="5">Nenhuma publicação encontrada</td></tr>
        }
    </div>

</div>
<script>

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }

    $(".showMore").click(function () {
        $(this).siblings('.pHidden').slideToggle()
        if ($(this).hasClass('isShow')) {
            $(this).removeClass('isShow')
            $(this).text('Show More')
        } else {
            $(this).addClass('isShow')
            $(this).text('Show Less')
        }
    })
</script>
